<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dynamic Pricing Dashboard" %></title>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <%= vite_typescript_tag 'application' %>
    <%= yield :head %>
  </head>
  <body class="h-full antialiased bg-gray-50">
    <main class="min-h-screen w-full">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
